{% extends "::base.html.twig" %}

{% block title %}AppBundle:Login:login{% endblock %}

{% block body %}
    <div>
        {{ errors.message ?? "" }}
    </div>

    <form action="{{ path('login') }}" method="post">
        Username:
        <input type="text" name="_username" id="username" />
        <br>
        Password:
        <input type="password" name="_password" id="password" />
        <br>
        <input type="submit" />
    </form>
{% endblock %}
